 * {
  box-sizing: border-box;
  }

body {
  font-family: Arial, Helvetica, sans-serif;
}

        /* Estilo de header */
header {
  background-color: #d39f5a;
  padding: 15px;
  display: flex;
  font-size: 15px;
  color: white;
}

.img-logo{
  max-width: 200px;
  max-height: 150px;
  border-radius: 3% ;
}

.title-header{
  margin-left:220px ;
}

.nav {
  margin-left: 380px;
  position: relative;
  justify-content: flex-end;
}

nav ul li {
  list-style: none;
  padding: 2px;
}

nav ul li a{
  text-decoration: none;
  color: white;
}

nav ul li a:hover{
background-color: #ec8f16;
color: #bcee5f;
}
        /* Estilo de elementos del body */

.tableu{
  margin: 25px 30px;
  margin-left: 425px;
  text-align: center;
  display: inline-block;
}
.tableu th, .td-bkg{
  background-color: #d35a5a;
  color: #fff;
  padding:5px;
}

.tableu{
  border-bottom: 1px solid #000;
}

hr{
  border:   1px solid #000000;
  background: #000;
}

.text-bold{
  font-weight: bold;
}
.h2-title{
  background-color: #d35a5a;
  color: #fff;
  padding:5px;
  margin-bottom:none;
}
.form-container-datauser{
  margin: 20px 30px ;
  background: #e7e7e7;
}

.position-form{
  padding:10px 15px;
}

.btn{
  margin-left: 129px;
}

.btn:hover{
  background-color: #cc3131;
  color: #fff;
}

.footer{
  background:#d39f5a;
  color: #fff;
  
  display: flex;
}

.footer p{
  text-align: center;
  padding-left: 400px;
}

.footer img{
  max-width: 80px;
  max-height: 86px;
  margin: 10px;
  margin-left:600px;
}

      /* Estilo de Sobre nosotros */
.div-container h2{
  font-size:20px;
}

.div-historia{
  display: flex;
}

.img-historia{
  max-width: 380px;
  max-height: 350px;
  margin: 10px 18px;
}

.text-historia{
  text-align: justify;
  padding: 4 17px;
  font-size: 15px;
}

.location iframe{
  display: flex;
  text-align: center;
  margin: 10px 400px;
}

.medios{
  padding: 4 17px;
  margin-left:10px;
}

      /* Estilos de Pastelero */
.td-bkg{
  font-weight: bold;
  
}

.td-border-R{
  border-right: 1px solid #000;
}